@import '../../styles/variables';

div.quiz-title {
    color: white;
    font-weight: bold;
    background-color: $sandy;
    padding: 20px 10px;
    max-width: 300px;
    margin: 10px auto;
    text-align: center;

    &:hover {
        cursor: pointer;
    }
}

