@import '../../styles/variables';

div.card {
    border: 1px solid $tomato;

    header.card-header {
        background-color: $tomato;
        color: white;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            font-size: 20px;
            margin: 0;
            font-weight: normal;
        }
    }

    section.card-section {
        padding: 20px;
    }
}